<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
        <listener class-name="org.listeners.TestListener"/>
    </listeners>
  <test thread-count="5" name="Test">
  
    <classes>
      <class name="org.test.LoginTest"/>
      <class name="org.test.CartTest"/>
      <class name="org.test.ProductTest"/>
      <class name="org.test.MenuTest"/>
      <class name="org.test.CheckoutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
